{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html>
  <title>My Django Blog</title>
  <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
  <body>   
    <div id="header">
      <ul id="control-bar">
        {% if user.is_authenticated %}
        <li>Welcome, {{ user.username }}!</li>
         {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">admin</a></li>{% endif %}

          <li><a href="{% url 'blog_index' %}">Posts</a></li>
          <li><a href="{% url 'poll_index' %}">Polls</a></li>
          <li><a href="{% url 'account_logout' %}">logout</a></li>
         {% else %}
          <li><a href="{% url 'account_login' %}">login</a></li>
          <li><a href="{% provider_login_url 'github' %}">Sign Up with GitHub</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="container">
      <div id="content">
      {% block content %}
       [content will go here]
      {% endblock %}
      </div>
    </div>
     
  </body>
      
</html>